header {
    width: 100%;
    background-color: #242323;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 2rem;
    position: fixed;
    top: 0;
    height: 4rem;
    z-index: 1000;
}

.mainLogoImage {
    width: 3rem;
}

.titleContainer {
    width: 30%;
}

.searchBody {
    width: 40%;
}

.searchContainer {
    width: 45%;
}

.userContainer {
    width: auto;
}

.titleButtonContainer {
    display: flex;
    align-items: center;
    gap: .7rem;
    padding: 1rem;
    width: 100%;
}

.titleFont {
    font-family: "Playwrite PE", cursive;
    font-size: 1.4rem;
}

.searchButtonContainer {
    background-color: #383838;
    border-radius: 2rem;
    padding: .5rem;
    display: flex;
    gap: 1rem;
    width: auto;
}

.searchIcon {
    width: 1.8rem;
}

.searchBody {
    background-color: transparent;
    border: none;
    color: #ffffff;
    outline: none;
}

.userIcon {
    width: 100%;
}